# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and temporary files
logs/
*.log
missed_files.txt

# Google Cloud credentials
*.json

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
